<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0   https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>jfrog</id>
			<username>${env.JFROG_USER}</username>
			<password>${env.JFROG_PASS}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<snapshots><enabled>true</enabled></snapshots>
					<id>jfrog</id>
					<url>https://rpgframework.jfrog.io/artifactory/RPGFramework</url>
				</repository>
				<repository>
					<id>ossrh</id>
					<url>https://oss.sonatype.org/content/repositories/snapshots</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>